ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #14141f;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

/*li:last-child {
	border-right: none;
}*/

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #e0e0eb;
}

h2 {
	font-size: 50px;
	text-align: center;
	border: 3px solid black;
	padding: 70px 0;
	text-decoration-line: none;
	text-decoration-style: solid;
	border-radius: 12px;
	
}

h4 {
	font-size: 30px;
	color: black;
	text-align: center;
	padding: 10px 16px;
}
